@*@model System.Web.Mvc.HandleErrorInfo*@

@{
    ViewBag.Title = "Safe Freight Logistic - Error";
}

@section menusection
{
    <!-- Menu Section -->
    <div class="navigation-2">
        <!-- navigation-start -->
        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav">

                        <li class="hidden-sm">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="hidden-sm">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="hidden-sm">@Html.ActionLink("Services", "Services", "Home")</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Admin <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Shipment List", "Index", "Mathely_Logistics_Shipments")</li>
                                    <li>@Html.ActionLink("Setup", "Index", "Mathely_Logistics_Admin")</li>

                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container-end -->
        </nav>
    </div>
    <!-- /.navigation-end -->
    <!-- Menu  End -->
}


@section pagebreadcrumb
{
    <!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
    <section class="breadcrumbs-area parallex">
        <div class="container">
            <div class="row">
                <div class="page-title">
                    <div class="col-sm-12 col-md-6 page-heading text-left">
                        <h3>Processing Error</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->
}


<!-- =-=-=-=-=-=-= Error Page =-=-=-=-=-=-= -->
<section id="error-page" class="section-padding-70">
    <div class="container">

        <!-- Row -->
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="error-text">500</div>
                <div class="error-title">Oops! An error just occurred!</div>
                <p>Please contact your admin!</p>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <img alt="" class="img-responsive" src="~/Content/images/404.png">
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= Our Team End =-=-=-=-=-=-= -->
