@model SafeFreightLogisticsApp.Models.HalfHourlyTime

@{
    ViewBag.Title = "Safe Freight Logistic - Admin Pickup Time Create";
}


@section morecss
{
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/site.css")
}


@section menusection
{
    <!-- Menu Section -->
    <div class="navigation-2">
        <!-- navigation-start -->
        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav">

                        <li class="hidden-sm">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="hidden-sm">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="hidden-sm">@Html.ActionLink("Services", "Services", "Home")</li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Admin <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Shipment List", "Index", "Mathely_Logistics_Shipments")</li>
                                <li>@Html.ActionLink("Setup", "Index", "Mathely_Logistics_Admin")</li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container-end -->
        </nav>
    </div>
    <!-- /.navigation-end -->
    <!-- Menu  End -->
}


@section pagebreadcrumb
{
    <!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
    <section class="breadcrumbs-area parallex">
        <div class="container">
            <div class="row">
                <div class="page-title">
                    <div class="col-sm-12 col-md-6 page-heading text-left">
                        <h3>Add New Pickup Time</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->
}

<!-- =-=-=-=-=-=-= Create Shipment Top =-=-=-=-=-=-= -->
<section id="order-tracking" class="section-padding-80">
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <!-- Create Shipment -->
                <div class="block-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.TimePeriod, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TimePeriod, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TimePeriod, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to Pickup Times List", "HalfHourlyTimesIndex", "Mathely_Logistics_Admin", null, new { @class = "btn btn-primary btn-lg", @role = "button" })
                    </div>
                </div>
                <!-- Create Shipment End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= Create Shipment Top End =-=-=-=-=-=-= -->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}








