@using System.Activities.Statements
@using Microsoft.AspNet.Identity

@using SafeFreightLogisticsApp.Models
@model IEnumerable<Shipment>

@{
    ViewBag.Title = "Safe Freight Logistic - Shipment List";
}


@section morecss
{
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/site.css")
}


@section menusection
{
    <!-- Menu Section -->
    <div class="navigation-2">
        <!-- navigation-start -->
        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav">

                        <li class="hidden-sm">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="hidden-sm">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="hidden-sm">@Html.ActionLink("Services", "Services", "Home")</li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Admin <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Shipment List", "Index", "Mathely_Logistics_Shipments")</li>
                                <li>@Html.ActionLink("Setup", "Index", "Mathely_Logistics_Admin")</li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container-end -->
        </nav>
    </div>
    <!-- /.navigation-end -->
    <!-- Menu  End -->
}


@section pagebreadcrumb
{
    <!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
    <section class="breadcrumbs-area parallex">
        <div class="container">
            <div class="row">
                <div class="page-title">
                    <div class="col-sm-12 col-md-6 page-heading text-left">
                        <h3>List of Shipments</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->
}


<!-- =-=-=-=-=-=-= Tracking History =-=-=-=-=-=-= -->
<section id="order-tracking" class="section-padding-80">
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                @Html.ActionLink("Add New Shipment", "Create", "Mathely_Logistics_Shipments", null, new { @class = "btn btn-primary btn-lg", @role = "button" })
                <br/><br/>
                <!-- Tracking History -->
                <div class="block-content">
                    <div class="table-responsive">
                        <table class="table table-clean-paddings margin-bottom-0">
                            <thead>
                            <tr>
                                <th>@Html.DisplayNameFor( model => model.TrackingNumber)</th>
                                <th>@Html.DisplayNameFor( model => model.ReceiverName )</th>
                                <th>@Html.DisplayNameFor( model => model.PackageOrigin )</th>
                                <th>@Html.DisplayNameFor( model => model.PackageDestination )</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach ( var item in Model )
                            {
                                <tr>
                                    <td>@Html.DisplayFor( modelItem => item.TrackingNumber )</td>
                                    <td>
                                        <div class="contact-container"><a href="#">@Html.DisplayFor( modelItem => item.ReceiverName)</a> <span>with phone @Html.DisplayFor( modelItem => item.ReceiverPhone )</span></div>
                                    </td>
                                    <td>@Html.DisplayFor( modelItem => item.PackageOrigin )</td>
                                    <td>@Html.DisplayFor( modelItem => item.PackageDestination )</td>
                                    <td>
                                        <span class="label label-success">@Html.ActionLink("Details", "Details", new {id = item.ShipmentId} )</span>
                                        <span class="label label-warning">@Html.ActionLink( "Edit", "Edit", new {id = item.ShipmentId} )</span>
                                        <span class="label label-danger">@Html.ActionLink( "Delete", "Delete", new {id = item.ShipmentId} )</span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Tracking History End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= Tracking History End =-=-=-=-=-=-= -->