@model SafeFreightLogisticsApp.Models.Shipment

@{
    Layout = null;
}



<div class="col-sm-7 col-xs-7 col-md-7 search-result-data">
    <!-- Shipment Details -->
    <div class="block-content">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TrackingNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TrackingNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShipperName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShipperName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShipperAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShipperAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShipperPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShipperPhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShipperEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShipperEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReceiverName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReceiverName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReceiverAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReceiverAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReceiverPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReceiverPhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReceiverEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReceiverEmail)
                </dd>

                @*<dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.PackageOrigin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PackageOrigin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PackageDestination)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PackageDestination)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CarrierRefNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CarrierRefNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Product)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Product)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PickupDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PickupDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PickupTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PickupTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ExpectedDeliveryDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ExpectedDeliveryDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Weight)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PaymentMode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentMode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShipmentMode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShipmentMode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Comments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>

                @*<dt>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastModifiedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastModifiedDate)
                    </dd>*@

            </dl>
        </div>
        <p>
            @Html.ActionLink("Back to Home Page", "Index", "Home", null, new { @class = "btn btn-primary btn-lg", @role = "button" })
        </p>
    </div>
    <!-- Shipment Details End -->
</div>
<div class="col-sm-5 col-xs-5 col-md-5 search-result-data">
    <!-- services grid -->
    <div class="services-grid">
        <div class="icons">
            <i class="flaticon-view-symbol-on-delivery-opened-box"></i>
        </div>
        <h4>@Html.DisplayNameFor(model => model.Status)</h4>
        <p>@Html.DisplayFor(model => model.Status)</p>
    </div>
</div>